img {
	width: 30%;
	 /*30% of the body element*/
	float: left;
	margin: 1.66%;
	/*??*/
}

ul li {
	display: inline;
	margin: 2%;
}

#bio, #resume, #self {
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
}
